
.form1{
	height: auto;
	font-family: 'Prompt', sans-serif;
	padding-left: 100px;
	padding-bottom: 50px;
	padding-top: 50px;
	color: #00a3ae;
}
.data{
	margin: 10px;
}
.submit1{
	font-family: 'Prompt', sans-serif;
	padding-left: 100px;
	margin: 10px;
}

.tb1 table tr td {
	font-family: 'Prompt', sans-serif;
}
.tb1 table tr th {
	font-family: 'Prompt', sans-serif;
}